[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
transitions = "*"
line-bot-sdk = "*"
pygraphviz = "*"
mutagen = "*"
pydub = "*"
google-api-python-client = "*"

[dev-packages]

[requires]
python_version = "3.8"
